* {
    background-color: #FFC300;
}
header {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: radial-gradient(#202FF1, #27009F);
    color: white;
    padding: 2%;
}

h2 {
    padding: 2%;
    color: #27009F; 
}

.quiz-block {
    margin: 12%;
    padding: 2%;
}

button {
    padding: 2%;
    background-image: radial-gradient(#27009F, #202FF1);
    color: white;
}
.quiz-block button {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-top: 5%;
}

.quiz-block h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 35px;
}

.quiz-block p {
    font-size: 20px;
}